body {
    padding-top: 20px;
    padding-bottom: 60px;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    background-color: #372D54;
}

.jumbotron h1 {
    font-size: 100px;
    line-height: 1;
}

.jumbotron .lead {
    font-size: 24px;
    line-height: 1.25;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

body {
    vertical-align: baseline;
    background-color: #1c1828;
    overflow: hidden
}

body a {
    color: #8d79f2;
}

.title {
    color: #bfb8e5;
}

body a:hover {
    text-decoration: underline
}

.well {
    background-color: #D9D4EF;
}
