@(uploadForm: play.api.data.Form[Any])

@import helper._
@import helper.twitterBootstrap._

@form(action = routes.Application.uploadImage(), 'enctype -> "multipart/form-data") {
<center><h2>Upload a File</h2></center>
    <br>

    <div style="text-align: left;">

        &nbsp; <p>2. Select an image:</p>
        <div class="row">
        	<div class="span2"><p>&nbsp;</p></div>
            <div class="span3">
                @inputFile(uploadForm("resourceFile"),  '_label -> "")
            </div>
            
            <div class="span7"><p>&nbsp;</p></div>
        </div>
        <div class = "row">
        	<div class="span5"><p>&nbsp;</p></div>
        	<div class="span2"><input type="submit" class="btn btn-success"></div>
        	<div class="span5"><p>&nbsp;</p></div>
        </div>
    </div>
}
    <div id='previewBox'>

    </div>




