@(loginForm: play.api.data.Form[User], registerForm: play.api.data.Form[User])(implicit flash: play.api.mvc.Flash, session: play.api.mvc.Session)

@import helper._

@main(loginForm, registerForm) {

    <h2>What is log.ic</h2>

    <br>
    <div class="col-md-10 col-md-offset-1">
        <div class="row well">
            At the core, Log.ic is software to retrieve logs from various applications via
            <a href="http://logging.apache.org/log4j/2.x/">log4j</a> web <a href="http://logging.apache.org/log4j/2.x/manual/appenders.html#SocketAppender">sockets</a> and allow
        users to view, filter, and aggregate those logs based on various criteria.
        </div>
        <br>
        <div class="row well">
            Logs are data.  Unlike measuring the circumference of a circle, there is a large interpretation space for ideas and methods
        clarifying and analyzing data. Just as there are many ways to measure a central tendency, Log.ic provides many ways for users
        to measure and understand logs as well as customize their own views and metrics.    <br><br>
            Log.ic seeks to provide a tool to analyze <i>logs as data</i>, both quantitatively and qualitatively, in order to provide a very
        critical service: <i>forecasting failure</i>.    <br><br>
            In many organizations, downtime of an application can cost on the order of millions of dollars for every few seconds
        an application is unavailable.  This criticality makes predicting failure a must, so action can be taken before
        it becomes very costly.
        </div>
    </div>
}