@(loginForm: play.api.data.Form[User], registerForm: play.api.data.Form[User])(implicit flash: play.api.mvc.Flash, session: play.api.mvc.Session)

@import helper._
@import enums._

@main(loginForm, registerForm) {

<div class="jumbotron" ng-controller="LogicController">
    <div class="row">
        <div class="col-md-3">
            <canvas id="myChart" width="200" height="200" style="margin-top: 40px;"></canvas>
        </div>
        <div class="col-md-6">
            <h1 style="color: #bfb8e5; margin-top: -20px;font-size: 60px;">Log.ic</h1>
            <p class="lead" style="color: #8d79f2;"> Find logs </p>

            <div ng-hide="search">

                <fieldset>

                    <div class="form-group">
                        <label for="app"></label>
                        <select id="app" name="application" class="form-control">
                            <option class="blank" value=""> Choose Application </option>
                            @for(p <- controllers.Manage.getApplications().map(_.name)) {
                                <option value="@p">@p</option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="env"></label>
                        <select id="env" name="environment" class="form-control">
                            <option class="blank" value=""> Choose Environment </option>
                            @for(p <- controllers.Manage.getEnvironments().map(_.name)) {
                                <option value="@p">@p</option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="region"></label>
                        <select id="region" name="region" class="form-control">
                            <option class="blank" value=""> Choose Region </option>
                            @for(p <- controllers.Manage.getRegions().map(_.name)) {
                                <option value="@p">@p</option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="level"></label>
                        <select id="level" name="level" class="form-control">
                            <option class="blank" value=""> Choose Log Level </option>
                                @for(p <- LogLevelEnum.values) {
                                    <option value="@p">@p</option>
                                }
                        </select>
                    </div>
                    <div style="color: #8d79f2;"  onmouseover="$('.datepicker').datepicker({format: 'yyyy-mm-dd'});">
                        <div class="form-group">
                            <input type="text" id="exception" name="exception" class="form-control" placeholder="Exception (ex: 'java.lang.NullPointerException')">
                        </div>
                        <div class="form-group">
                            <input type="text" id="message" name="message" class="form-control" placeholder="Log Message (ex: 'is' returns all log messages containing 'is')">
                        </div>
                        <div class="form-group">
                            <input type="text" id="beforeDate" name="beforeDate" class="form-control datepicker input-append" placeholder=" Before Date">
                        </div>
                        <div class="form-group">
                            <input type="text" id="afterDate" name="afterDate" class="form-control datepicker input-append" placeholder=" After Date">
                        </div>
                    </div>

                </fieldset>
                <br>
                <a class="btn btn-lg btn-success" ng-click="doSearch();search=!search">Search</a>
            </div>
        </div>

        <div class="col-md-3">
            <canvas id="myChart2" width="250" height="250"></canvas>
        </div>

        <div class="col-md-10 col-md-offset-1" ng-show="search">
            <a class="btn btn-lg btn-info" style="margin-top: -50px;" ng-click="search=!search">New Search</a>
            <br><br>
            <div class="well">

                <div ng-repeat="log in logData track by $index" align="left">
                    <span class="">{{log.level}}</span>
                    <span class="">{{log.message}}</span>
                    <span class="">{{log.exception}}</span>
                </div>

                <div class="col-md-10 col-md-offset-1" ng-show="search">
                    <span class="">NO RESULTS</span>
                </div>

            </div>
        </div>
    </div>

    </div>

    <div class="container">
        <div class="row" style="color: #8d79f2;">
            <div class="col-md-3 col-md-offset-2">
                <h2>Precog</h2>
                <p> Predict failure </p>
                <p><a class="btn btn-lg btn-primary" href="./precog">go &raquo;</a></p>
            </div>
            <div class="col-md-3">
                <h2>Notify</h2>
                <p> Notification Triggers </p>
                <p><a class="btn btn-lg btn-primary" href="./notify">go &raquo;</a></p>
            </div>
            <div class="col-md-3">
                <h2>Metrics</h2>
                <p> Behavior and performance </p>
                <p><a class="btn btn-lg btn-primary" href="./metrics">go &raquo;</a></p>
            </div>
        </div>
    </div>

}

        <script type="text/javascript">

            var data = {
                labels : ["January","February","March","April","May","June","July"],
                datasets : [
                    {
                        fillColor : "rgba(175,161,220,0.5)",
                        strokeColor : "rgba(175,161,220,1)",
                        pointColor : "rgba(175,161,220,1)",
                        pointStrokeColor : "#fff",
                        data : [65,59,90,81,56,55,40]
                    },
                    {
                        fillColor : "rgba(151,187,205,0.5)",
                        strokeColor : "rgba(151,187,205,1)",
                        pointColor : "rgba(151,187,205,1)",
                        pointStrokeColor : "#fff",
                        data : [28,48,40,19,96,27,100]
                    }
                ]
            };

            var radarChartData = {
                labels : ["Fatal","Error","Warning","Info","Debug","Trace","Severe"],
                datasets : [
                    {
                        fillColor : "rgba(175,161,220,0.5)",
                        strokeColor : "rgba(175,161,220,1)",
                        pointColor : "rgba(175,161,220,1)",
                        pointStrokeColor : "#fff",
                        data : [65,59,90,81,56,55,40]
                    },
                    {
                        fillColor : "rgba(205,152,161,0.5)",
                        strokeColor : "rgba(205,152,161,1)",
                        pointColor : "rgba(205,152,161,1)",
                        pointStrokeColor : "#fff",
                        data : [28,48,40,19,96,27,100]
                    }
                ]

            };


            var myPolarArea = new Chart($("#myChart").get(0).getContext("2d")).Line(data,{scaleFontColor : "#AFA1F6", scaleGridLineColor : "rgba(175,161,220,0.5)"});
            var myRadarArea = new Chart($("#myChart2").get(0).getContext("2d")).Radar(radarChartData,{scaleShowLabels : false, pointLabelFontSize : 10, pointLabelFontColor : "#AFA1F6", scaleLineColor : "rgba(175,161,220,0.5)", angleLineColor : "rgba(175,161,220,0.5)"});
        </script>
