@(loginForm: play.api.data.Form[User], registerForm: play.api.data.Form[User], searchForm: play.api.data.Form[Search.LogSearch])(implicit flash: play.api.mvc.Flash, session: play.api.mvc.Session)

@import helper._
@import enums._

@main(loginForm, registerForm) {

<div class="jumbotron">
    <div class="row">
        <div class="col-md-4">
            <canvas id="myChart" width="200" height="200" style="margin-top: 40px;"></canvas>
        </div>
        <div class="col-md-4">
            <h1>Log.ic</h1>
            <p class="lead"> Find logs </p>

            @form(controllers.routes.Search.search()){
            <fieldset>

                @select(field = searchForm("application"), options = options(
                controllers.Manage.getApplications().map(_.toString)), '_label-> "", '_default -> "-- Choose Application --")

                @select(field = searchForm("environment"), options = options(
                controllers.Manage.getEnvironments().map(_.toString)), '_label-> "", '_default -> "-- Choose Environment --")

                @select(field = searchForm("region"), options = options(
                controllers.Manage.getRegions().map(_.toString)), '_label-> "", '_default -> "-- Choose Region --")

                @select(field = searchForm("level"), options = options(
                LogLevelEnum.values.toList.map(_.toString)),
                '_label-> "", '_default -> "-- Choose Log Level --", 'id -> "level")

                @inputPassword(
                loginForm("exception"),
                '_label -> "Exception"
                )
                @inputPassword(
                loginForm("message"),
                '_label -> "Message"
                )
                @inputPassword(
                loginForm("date"),
                '_label -> "Date"
                )
            </fieldset>
            <input type="submit" class="btn btn-lg btn-success" value="Search">
            }
        </div>
        <div class="col-md-4">
            <canvas id="myChart2" width="250" height="250"></canvas>
        </div>
    </div>

    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-3 col-md-offset-2">
                <h2>Search</h2>
                <p> Find logs </p>
                <p><a class="btn btn-default" href="#">go &raquo;</a></p>
            </div>
            <div class="col-md-3">
                <h2>Filter</h2>
                <p> Filter logs </p>
                <p><a class="btn btn-default" href="#">go &raquo;</a></p>
            </div>
            <div class="col-md-3">
                <h2>Explore</h2>
                <p> Explore logs </p>
                <p><a class="btn btn-default" href="#">go &raquo;</a></p>
            </div>
        </div>
    </div>

}

        <script type="text/javascript">

            var chartData = [
                {
                    value : Math.random(),
                    color: "#D97041"
                },
                {
                    value : Math.random(),
                    color: "#C7604C"
                },
                {
                    value : Math.random(),
                    color: "#21323D"
                },
                {
                    value : Math.random(),
                    color: "#9D9B7F"
                },
                {
                    value : Math.random(),
                    color: "#7D4F6D"
                },
                {
                    value : Math.random(),
                    color: "#584A5E"
                }
            ];

            var radarChartData = {
                labels : ["Fatal","Error","Warning","Info","Debug","Trace","Severe"],
                datasets : [
                    {
                        fillColor : "rgba(220,220,220,0.5)",
                        strokeColor : "rgba(220,220,220,1)",
                        pointColor : "rgba(220,220,220,1)",
                        pointStrokeColor : "#fff",
                        data : [65,59,90,81,56,55,40]
                    },
                    {
                        fillColor : "rgba(151,187,205,0.5)",
                        strokeColor : "rgba(151,187,205,1)",
                        pointColor : "rgba(151,187,205,1)",
                        pointStrokeColor : "#fff",
                        data : [28,48,40,19,96,27,100]
                    }
                ]

            }


            var myPolarArea = new Chart($("#myChart").get(0).getContext("2d")).PolarArea(chartData);
            var myRadarArea = new Chart($("#myChart2").get(0).getContext("2d")).Radar(radarChartData,{scaleShowLabels : false, pointLabelFontSize : 10});




        </script>
