@(loginForm: Form[Group], registerForm: Form[Group])

@main(loginForm, registerForm) {

    <div class="jumbotron">
        <h1>Log</h1>
        <p class="lead"> Find logs </p>
        <a class="btn btn-large btn-success" href="./profile">Get started</a>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-3 col-md-offset-2">
                <h2>Search</h2>
                <p> Find logs </p>
                <p><a class="btn btn-default" href="#">go &raquo;</a></p>
            </div>
            <div class="col-md-3">
                <h2>Filter</h2>
                <p> Filter logs </p>
                <p><a class="btn btn-default" href="#">go &raquo;</a></p>
            </div>
            <div class="col-md-3">
                <h2>Explore</h2>
                <p> Explore logs </p>
                <p><a class="btn btn-default" href="#">go &raquo;</a></p>
            </div>
        </div>
    </div>

}
