@(loginForm: play.api.data.Form[User], registerForm: play.api.data.Form[User])(implicit flash: play.api.mvc.Flash, session: play.api.mvc.Session)

@import helper._

@main(loginForm, registerForm) {

    <h2 class="title">Metrics</h2>

    <br>

    <div class="row well">
        <div class="row">
            <div style="text-align: center;">
                <div class="btn-group">
                    <button type="button" id="logButton" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#" onclick="logs='Error Logs';getLevel='error';updateMetrics();">Error Logs</a></li>
                        <li><a href="#" onclick="logs='Fatal Logs';getLevel='fatal';updateMetrics();">Fatal Logs</a></li>
                        <li><a href="#" onclick="logs='Debug Logs';getLevel='debug';updateMetrics();">Debug Logs</a></li>
                        <li><a href="#" onclick="logs='Warn Logs';getLevel='warn';updateMetrics();">Warn Logs</a></li>
                        <li><a href="#" onclick="logs='Info Logs';getLevel='info';updateMetrics();">Info Logs</a></li>
                    </ul>
                </div>

            </div>
        </div>
        <div id="errorChart">
            <div class="col-md-10"><canvas id="error" width="1100" height="300"></canvas></div>
        </div>
        <div style="display: none" id="warnChart">
            <div class="col-md-10"><canvas id="warn" width="1100" height="300"></canvas></div>
        </div>
        <div style="display: none" id="fatalChart">
            <div class="col-md-10"><canvas id="fatal" width="1100" height="300"></canvas></div>
        </div>
        <div style="display: none" id="debugChart">
            <div class="col-md-10"><canvas id="debug" width="1100" height="300"></canvas></div>
        </div>
        <div style="display: none" id="infoChart">
            <div class="col-md-10"><canvas id="info" width="1100" height="300"></canvas></div>
        </div>
    </div>
}

<script type="text/javascript">

    var logs = "Error Logs <span class='caret'></span>";
    var getLevel = "error"

    function httpGet() {
        var xmlHttp = new XMLHttpRequest();
        xmlHttp.open( "GET", "metrics/"+getLevel, false );
        xmlHttp.send( null );
        return xmlHttp.responseText;
    }

    window.onload = function() {
        updateMetrics();
        document.querySelector('#logButton').innerHTML = logs;
    };

    function updateMetrics() {
        document.querySelector('#logButton').innerHTML = logs+ " <span class='caret'></span>";
        var metrics = httpGet().split(":");
        var dates = metrics[0];
        var numbers = metrics[1];
        var d = dates.split(",");
        var data = {
            labels : d,
            datasets : [
                {
                    fillColor : "rgba(220,220,220,0.5)",
                    strokeColor : "rgba(220,220,220,1)",
                    pointColor : "rgba(220,220,220,1)",
                    pointStrokeColor : "#fff",
                    data : [numbers]
                },
                {
                    fillColor : "rgba(151,187,205,0.5)",
                    strokeColor : "rgba(151,187,205,1)",
                    pointColor : "rgba(151,187,205,1)",
                    pointStrokeColor : "#fff",
                    data : [28,48,40,19,76,27,57]
                }
            ]
        };
        new Chart($("#"+getLevel+"").get(0).getContext("2d")).Line(data);

        $( '#warnChart' ).hide();
        $( '#fatalChart' ).hide();
        $( '#infoChart' ).hide();
        $( '#debugChart' ).hide();
        $( '#errorChart' ).hide();
        if(getLevel == 'error') $( '#errorChart' ).show();
        if(getLevel == 'warn') $( '#warnChart' ).show();
        if(getLevel == 'fatal') $( '#fatalChart' ).show();
        if(getLevel == 'info') $( '#infoChart' ).show();
        if(getLevel == 'debug') $( '#debugChart' ).show();
    }

</script>
